* {
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--primary-color);
    box-sizing: border-box;
    font-size: 20px;
}

:root {
   --primary-color: #407294;
   --secondary-color: #012e56;
}

/* Creating formats for quiz box */
.container {
    border: solid var(--secondary-color);
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    text-align: center;
}
a {
    display:flex;
    justify-content: right;
}
h1 {
    font-size: 25px;
}
.container p {
    flex-wrap: wrap;
}
/*formatting questions, answer and start buttons */
#questions {
    font-size: 25px;
    font-weight: bold;
}
.btn {
    display:flex;
    justify-content: center;
    width: 30%;
    margin: 10px auto;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: #e0ffff;
    padding: 5px;
}
.btn:hover{
    background-color: var(--primary-color);
    color: #ffffff;
}
.start-btn {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
/* creating class to hide divs, etc throughout the quiz */
.hide {
    display: none;
}