:root {
   --primary-color: #407294;
   --secondary-color: #012e56;
}
* {
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--primary-color);
    box-sizing: border-box;
}

.page-content {
    border: solid var(--secondary-color);
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    text-align: center;
}
.page-content p {
    font-size: 20px;
    flex-wrap: wrap;
}
.start-btn {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
#questions {
    font-size: 20px;
    color: var(--secondary-color);
}
.btn {
    font-size: 20px;
    display:flex;
    justify-content: center;
    width: 75%;
    margin: 10px auto;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: #e0ffff;
    padding: 5px;
}
.wrapper {
    display: none;
}